.ayurveda-center {
  margin-top: 70px;
}

.ayurveda-center__inner {
  position: relative;
  padding-top: 30px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 725px;
    height: 265px;
    background-color: $bg-color;
  }
}

.ayurveda-center__img {
  margin-bottom: 20px;
}

.ayurveda-center__title {
  padding-top: 10px;
  font-size: 30px;
  font-weight: 500;
}

.ayurveda-center__location {
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
  color: #4b4b4b;
}

.ayurveda-center__text {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 300;
}

.ayurveda-center__list-wrapper {
  padding-top: 15px;
}

.ayurveda-center__list {
  list-style: none;
  margin: 0;
}

.ayurveda-center__item {
  padding: 0 0 0 25px;
  margin-bottom: 8px;
  color: #454545;
  font-size: 12px;
  font-weight: 300;

  background: url("../img/ayurveda/center/item-icon.png") no-repeat;
}

.ayurveda-center__item:last-child {
  margin-bottom: 0;
}


@media (max-width: 999px) {
  .ayurveda-center {
    margin-top: 40px;
  }

  .ayurveda-center__inner {
    &::before {
      content: none;
    }
  }

  .ayurveda-center__img {
    margin-bottom: 0;
    text-align: center;
  }

  .ayurveda-center__location {
    font-size: 15px;
  }

  .ayurveda-center__text {
    font-size: 14px;
  }

  .ayurveda-center__list-wrapper {
    padding-top: 25px;
  }

  .ayurveda-center__item {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .ayurveda-center__item:last-child {
    margin-bottom: 0;
  }

}

@media (max-width: 575px) {
  .ayurveda-center {
    margin-top: 25px;
  }

  .ayurveda-center__title {
    font-size: 20px;
    text-align: center;
  }

  .ayurveda-center__location {
    text-align: center;
  }

  .ayurveda-center__text {
    text-align: center;
  }

  .ayurveda-center__item:last-child {
    margin-bottom: 10px;
  }

}