.intro {
  height: 100vh;
  min-height: 568px;
  padding: 142px 0 40px;
  background-color: $bg-color;
  background-image: url(../img/intro/bg-intro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .container {
    height: 100%;
  }
}

.intro__inner {
  height: 100%;
  max-height: 600px;
  color: #ffffff;
}

.intro__title {
  padding-bottom: 30px;
  font-size: 60px;
  font-weight: 500;
  text-transform: uppercase;
}

.intro__subtitle {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.intro__text {
  padding-bottom: 110px;
  font-size: 16px;
  font-weight: 400;
}

.intro__button {
  width: 100%;
  max-width: 300px;
  font-family: $main-font;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 3.11;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  transition: all 0.3s linear;

  &:hover {
    border-color: $theme-color;
  }
}

.intro__social {
  margin-top: auto;
}

@media (max-width: 999px) {
  .intro {
    padding: 110px 0 40px;
  }

  .intro__title {
    padding: 100px 0 20px;
    font-size: 44px;
  }

  .intro__subtitle {
    font-size: 18px;
  }

  .intro__text {
    padding-bottom: 60px;
    font-size: 15px;
  }

  .intro__button {
    max-width: 260px;
    font-size: 16px;
  }

}

@media (max-width: 767px) {
  .intro {
    padding: 92px 0 40px;
  }

  .intro__title {
    padding: 120px 0 20px;
    font-size: 36px;
  }

  .intro__text {
    padding-bottom: 80px;
  }

}

@media (max-width: 575px) {
  .intro__title {
    font-size: 26px;
    text-align: center;
  }

  .intro__subtitle {
    font-size: 16px;
    text-align: center;
  }

  .intro__button {
    line-height: 2.6;
  }

}
