.advantage {
    padding-top: 25px;
    padding-bottom: 25px;
}

.advantage__title {
    margin-top: 35px;

    font-size: 18px;
    font-weight: 700;
}

.advantage__text {
    max-width: 260px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 300;

    text-align: center;
}