.ayurveda-center {
    padding-top: 30px;
}

.ayurveda-center__description {
    padding-left: 45px;
}

.ayurveda-center__title {
    padding-top: 20px;
    font-size: 30px;
    font-weight: 500;
}

.ayurveda-center__location {
    padding-bottom: 30px;
    font-size: 14px;
    font-weight: 300;
    color: #4b4b4b;
}

.ayurveda-center__text {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 300;
}

.ayurveda-center__list-wrapper {
    padding-top: 40px;
}

.ayurveda-center__list {
    list-style: none;
}

.ayurved-center__item {
    padding: 0 0 0 30px;
    margin-bottom: 10px;
    color: #454545;
    font-size: 12px;
    font-weight: 300;

    background: url("../img/ayurveda/center/item-icon.png") no-repeat;
}