.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__inner {
  padding: 19px 0;
}

.header__tel {
  text-align: right;
  color: #ffffff;
}

.header__text {
  font-size: 14px;
  line-height: 1.28
}

.header__phone {
  font-size: 20px;
  color: #ffffff;
  transition: all 0.3s linear;

  &:hover {
    color: $theme-color;
    text-decoration: none;
  }

}

@media (max-width: 999.99px) {
  .header__inner {
    padding: 12px 0;
  }

  .header__logo {
    width: 65px;
  }

  .header__text {
    font-size: 12px;
    line-height: 1.2
  }

  .header__phone {
    font-size: 17px;
  }

}

@media (max-width: 767.99px) {
  .header__inner {
    padding: 10px 0;
  }

  .header__logo {
    width: 55px;
  }

  .header__text {
    font-size: 11px;
  }

  .header__phone {
    font-size: 16px;
  }

}




