.instructors {
  .glide-instructors--first,
  .glide-instructors--second {
    position: relative;
  }

  .glide-instructors--first {
    margin-bottom: 20px;
  }

  .instructors__dotts {
    position: absolute;
    bottom: 20px;
    right: 20px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 56px;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 90;

    .instructors__dot {
      width: 10px;
      height: 10px;
      padding: 2px;
      background-color: #ffffff;
      background-clip: padding-box;
      border: 2px solid transparent;
      border-radius: 50%;

      &:hover {
        cursor: pointer;
      }
    }

    .instructors__dot.glide__bullet--active {
      border: 2px solid #ffffff;
    }

  }

}


.instructors__list {
  margin-bottom: 20px;
}

.instructors__list:last-child {
  margin-bottom: 0;
}

@media (max-width: 575px) {
  .instructors__list {
    margin-bottom: 10px;
  }
}