.reviews__wrapper {
  margin-top: -250px;
  padding-top: 250px;
  background-color: #ffffff;
}

.reviews {
  position: relative;
}

.reviews__list {
  margin-bottom: 30px;
}

.reviews__arrows {
  position: absolute;
  top: calc(50% - 12px);
  width: 100%;
  display: flex;
  justify-content: space-between;

  .reviews__arrow {
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}

.reviews__dotts {
  position: absolute;
  bottom: -36px;
  left: calc(50% - 30px);
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  list-style: none;

  .reviews__dot {
    width: 10px;
    height: 10px;
    border: 2px solid white;
    margin: 0 6px;
    background-color: #b4b4b4;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }
  }

  .reviews__dot.glide__bullet--active {
    border: 2px solid #b4b4b4;
    background-color: transparent;
  }

}


@media (max-width: 575px) {
  .reviews__list {
    margin-bottom: 15px;
  }

  .reviews__arrows {
    position: static;
    max-width: 280px;
    margin: 0 auto;
  }

  .reviews__dotts {
    bottom: 6px;
  }

}