.special-offer {
    padding: 15px 50px;
    background-color: #f4e1b6;
}

.special-offer__text{
    font-size: 20px;
    font-weight: 500;
    line-height: 2;
}

.special-offer__button {
    width: 140px;
    line-height: 2;
}