.steps__item {
  position: relative;

  &::after {
    content: url("../img/steps/arrow-icon.png");
    position: absolute;
    top: 40px;
    right: -10px;
  }
}

.steps__item:last-child {
  &::after {
    content: none;
  }
}

.steps__text {
  padding-top: 20px;
  font-size: 12px;
  color: #3f3f3f;
  text-align: center;
}

.steps__link {
  font-size: 12px;
  text-decoration: underline;
  color: #ea7231;
}

@media (max-width: 999px) {
  .steps__item {
    padding-bottom: 15px;
  }

  .steps__item:nth-child(3) {
    &::after {
      content: none;
    }
  }

  .steps__text {
    max-width: 200px;
    margin: 0 auto;
  }

}

@media (max-width: 575px) {
  .steps__item:nth-child(2n+1) {
    &::after {
      content: url("../img/steps/arrow-icon.png");
    }
  }

  .steps__item:nth-child(2n) {
    &::after {
      content: none;
    }
  }

  .steps__text {
    max-width: 200px;
    margin: 0 auto;
  }

}