.tours {
  width: 100%;
  max-width: 820px;
  margin: 0 auto;
}

.tours__list {
  padding: 30px 50px;
  margin: 0;
  background-color: #fff;
}

.tours__text {
  font-size: 20px;
  font-weight: 300;
  line-height: 2.28;

  b {
    font-weight: 700;
  }
}

.tours__price {
  font-size: 20px;
  font-weight: 300;
  line-height: 2.28;
  color: #dd490f;

  b {
    font-weight: 700;
  }
}

@media (max-width: 999px) {
  .tours__list {
    padding: 30px 30px;
  }
}

@media (max-width: 767px) {
  .tours__list {
    padding: 15px;
  }

  .tours__text {
    font-size: 16px;
    line-height: 1.7;
  }

  .tours__price {
    font-size: 16px;
    line-height: 1.7;
  }
}

@media (max-width: 575px) {
  .tours__list {
    padding: 15px 10px 0;
  }
  .tours__item {
    padding-bottom: 15px;
  }

  .tours__text {
    font-size: 15px;
    line-height: 1.2;
  }

  .tours__price {
    font-size: 15px;
    line-height: 1.2;
    text-align: right;
  }
}