.button {
    margin: 0;
    font-size: 12px;
    font-weight: bold;

    color: $theme-color;
    background-color: transparent;
    border: 2px solid $theme-color;
    transition: all 0.3s linear;

    &:hover {
        background-color: $theme-color;
        color: #ffffff;
    }
}